@media screen and (max-width: 1510px) {
  body {
    padding: 0px 0px;
    padding-top: 0px;
    transition: all 0.3s ease-in-out;
  }
  #navBar {
    padding: 0 80px;
  }
  #navBar h1 {
    /* font-size: 1.6rem; */
    transition: all 0.3s ease-in-out;
  }
  #navBar a {
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  #profile img {
    width: 300px;
    transition: all 0.3s ease-in-out;
  }
  #profile {
    gap: 220px;
    transition: all 0.3s ease-in-out;
  }
  #experienceCard {
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .projectContainer {
    display: flex;
    flex-flow: row wrap;
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (max-width: 1370px) {
  #navBar {
    padding: 0 40px;
  }
}
@media screen and (max-width: 1200px) {
  #navBar {
    display: none;
  }
  #smNav {
    display: flex;
    padding: 0 100px;
  }
  #profile {
    flex-flow: column nowrap;
    padding-top: 70px;
    gap: 100px;
  }
  #profile img {
    margin: auto;
    width: 300px;
  }
}

@media (max-width: 800px) {
  #smNav {
    display: flex;
    padding: 0 70px;
    transition: all ease 0.5s;
  }
  .menu-list {
    margin-left: 70px;
  }
  #profile {
    padding-top: 80px;
  }
  #profile img {
    width: 280px;
    transition: all 0.3s ease-in-out;
  }
  #aboutContainer {
    padding-top: 110px;
    transition: all 0.3s ease-in-out;
  }
  #experience {
    padding-top: 110px;
  }
  #projects {
    padding-top: 110px;
  }
  .projectCard {
    padding: 25px 50px;
  }
  .projectCard img {
    width: 300px;
    height: 350px;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 700px) {
  .menu-list {
    margin-left: 60px;
  }
  #profile {
    padding-top: 60px;
  }
  #aboutContainer {
    padding-top: 90px;
  }
  #experience {
    padding-top: 90px;
  }
  #projects {
    padding-top: 90px;
  }
  #profile img {
    width: 250px;
    transition: all 0.3s ease-in-out;
  }
  .Ids {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .menu-list {
    margin-left: 35px;
  }
  #smNav {
    display: flex;
    padding: 0 40px;
    transition: all ease 0.5s;
  }
  #profile {
    padding-top: 60px;
    gap: 0px;
  }
  #aboutContainer {
    padding-top: 70px;
  }
  #experience {
    padding-top: 70px;
  }
  #projects {
    padding-top: 70px;
  }
  #profile img {
    width: 220px;
    transition: all 0.3s ease-in-out;
  }
  .projectCard {
    padding: 20px 40px;
  }
  .projectCard img {
    width: 270px;
    height: 320px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }
  .projectCard h2 {
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 500px) {
  .menu-list {
    margin-left: 15px;
  }
  #smNav {
    display: flex;
    padding: 0 20px;
    transition: all ease 0.5s;
  }
  #profile img {
    width: 200px;
    transition: all 0.3s ease-in-out;
  }
  .pName h1 {
    font-weight: bolder;
    font-size: 2.25rem;
  }
  .pName h3 {
    font-weight: bold;
    color: #494a49;
    font-size: 1.2rem;
  }
  .aboutHeader h1 {
    font-weight: bolder;
    font-size: 2.2rem;
    transition: all 0.3s ease-in-out;
  }
  #experience h1 {
    font-weight: bolder;
    font-size: 2.2rem;
    transition: all 0.3s ease-in-out;
  }
  .experienceCard {
    padding: 0 20px;
  }
  #contact h1 {
    font-weight: bolder;
    font-size: 2.2rem;
    transition: all 0.3s ease-in-out;
  }
  .projectCard {
    padding: 20px 37px;
  }
  .projectCard img {
    width: 240px;
    height: 280px;
    border-radius: 13px;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 400px) {
  .menu-list {
    margin-left:5px;
  }
  #smNav {
    display: flex;
    padding: 0 5px;
    transition: all ease 0.5s;
  }
  #profile img {
    width: 180px;
    transition: all 0.3s ease-in-out;
  }
  .btnContainer {
    display: flex;
    flex-flow: column nowrap;
  }
  .projectCard {
    padding: 17px 34px;
  }
  .projectCard img {
    width: 200px;
    height: 240px;
    border-radius: 11px;
    transition: all 0.3s ease-in-out;
  }
  .btn {
    display: flex;
    flex-flow: column nowrap;
  }
  .btn button {
    margin-bottom: 5px;
  }
  .projectCard h2 {
    font-size: 1.05rem;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 350px) {
  .menu-list {
    margin-left:0px;
  }
  #profile img {
    width: 180px;
    transition: all 0.3s ease-in-out;
  }
  .pName h1 {
    font-weight: bolder;
    font-size: 2.1rem;
  }
  .pName h3 {
    font-weight: bold;
    color: #494a49;
    font-size: 1.1rem;
  }
  .projectCard {
    padding: 14px 25px;
  }
  .projectCard img {
    width: 170px;
    height: 210px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
}
